[2021-03-25 19:07] adrianosantospb opened #65 "ImportError: cannot import name 'arrays_to_bytes' from 'deepsparse.utils'"
**Describe the bug**
Trying to run the server-client example.

**Environment**
Include all relevant environment information:
Ubuntu 18.04

2. Python version : 3.8
3. Other Python package versions [e.g. SparseML, Sparsify, numpy, ONNX]:

 deepsparse             0.1.1

4. CPU info - output of deepsparse/src/deepsparse/arch.bin or output of cpu_architecture() as follows:

{'vendor': 'GenuineIntel', '

[2021-03-25 20:43] bfineran commented on #65
Hi @adrianosantospb thank you for reporting this issue.  The `main` branch is currently updated new features that are incompatible with the deepsparse 0.1.0 release that is installed.

To run our latest build, you can install `deepsparse-nightly` which will include the API updates.

[code]

Verify that the latest nightly was installed with `pip freeze | grep deepsparse`, the version should be `dee

[2021-03-25 20:55] adrianosantospb commented on #65
Hi, @bfineran . It works well. Tks!
And tks you all for this great job. So... I'm very excited to test it. I'm training to create a client-server App. I've already converted my model and I'm following the steps from the repo. My idea is to get frames from a video and send them to the server-side, process the detection and return the output to the client to draw the box. (like this https://github.c

[2021-03-25 22:51] bfineran commented on #65
The input to `arrays_to_bytes` should be a list of numpy arrays that will be the model input.  Note that the data shape and type should match the model inputs.  The error says `Expected 1 inputs` so the input list should contain exactly one array.  So the image should be loaded as a numpy array (with any preprocessing) and wrapped in a list.

For example, if your model needs float input shape `(3,

[2021-03-26 15:41] bensuucar opened #66 "Expected Acceleration"
What is the maximum expected acceleration from Deepsparse? (Assuming that the model is sparsified further with sparseml as well)

In the documentation here, achieving GPU-level performance on CPUs is promised, however in this article (Inducing and Exploiting Activation Sparsity for Fast Neural Network Inference), the maximum acceleration on top of cpu is stated as 2.5x. So it is 2.5 times faster t

[2021-03-26 15:55] adrianosantospb commented on #65
Hi @bfineran , tks for your support.
For sure I will write a blog about what I'm doing and I will share the NeuroMagic idea. For now, I'm testing the YOLO as well. I'm testing the YOLO V5.
I use to use the Ultralytics framework. I have a good model trained (YOLO V3), but I used the previous version from Ultralytics. I will try to convert it to ONNX and test it with NeuroMagic.
So... just to share

[2021-03-26 19:13] bfineran commented on #65
Thanks for the update @adrianosantospb.  This looks correct for preprocessing!  We actually have an [integration with Ultralytics](https://github.com/neuralmagic/sparseml/tree/main/integrations/ultralytics) for pruning and quantization if you're interested.

As I mentioned above, we'll be releasing pruned and quantized YOLOv3 models, benchmarking results, and a blog shortly so keep an eye out for

[2021-03-27 11:39] adrianosantospb commented on #65
For sure! I will test it. But for the previous version, I think I need to create a conversion script. If you have something to share with me, to be free to do :).
When I finished my experiment, I will share it with you as well.

[2021-03-28 19:24] bfineran commented on #65
Definitely! SparseML's `ModuleExporter` tool contains an ease of use function for exporting ONNX files.  You could use it to export the YOLOv3 models from the `ultralytics/yolov3` archive branch. Note that execution times will be longer for the archive models because the graphs contain some of the post-processing whereas the v5 repo moves it outside of the ONNX graph.

Here's an example of putting

[2021-03-29 15:09] adrianosantospb commented on #65
Hi @bfineran , I did a test with YOLO V3. To be honest, the conversion was very fast.
I'm using the YOLO V3 SSP and, after the conversion, I'm getting 4.26 FPS. If it is ok for you, I could submit a merge request with the code I did.

[2021-03-29 15:30] markurtz commented on #66
Hi @bensuucar, thank you for reaching out and bringing this up! We'll be sure to update our documentation to make all of this clearer. That paper specifically looked into the effects of activation sparsity on performance. There are a few other techniques we can use to sparsify models, such as pruning and quantization. The expected acceleration can vary quite a bit depending on the methods and arch

[2021-03-29 21:43] adrianosantospb commented on #65
Hi, @bfineran.

Well, I did a test using YOLO V3. Using images with (416, 416), I've got FPS AVG of 5.63. I don't know if I did something wrong, but I was waiting for something around 20~25fps. Do you have some idea?
I will share what I wrote. Maybe it could be useful for someone too.

[2021-03-30 14:55] bfineran commented on #65
Hi @adrianosantospb thank you for sharing your results.  To achieve best results with DeepSparse, the model should be pruned and quantized, using a CPU with VNNI instructions.  The base model is not pruned or quantized, so it will not be able to benefit from these optimizations in DeepSparse.

I see that you're running on an 8 core CPU with AVX2 enabled.  Without VNNI on the CPU speedups from quan

[2021-04-01 07:49] bensuucar commented on #66
Hi @markurtz,
Thank you for the detailed explanation! I'll definitely be following the progress there.

The reason why I asked the acceleration is that currently when I compare inference speed of deepsparse with cpu inference for UNet model with mobilenet backbone on 2kx2k image, the cpu inference is faster than deepsparse.

As you can see below, cpu inference is 5.7 sec while Neural Magic Inferen

[2021-04-01 20:33] jeanniefinks opened #69 "Large Activation Buffers Constraint & Solving for Model Processing/Performance Conflicts"
## v.0.2 Known Issues

*   In rare cases where a tensor, used as the input or output to an operation, is larger than 2GB, the engine can segfault. Users should decrease the batch size as a workaround.
* In some cases, models running complicated pre- or post-processing steps could diminish the DeepSparse Engine performance by up to a factor of 10x due to hyperthreading, as two engine threads can ru

[2021-04-01 21:16] bfineran commented on #65
Hi @adrianosantospb happy to help.  AVX-512 is not needed for optimization - SparseML can fit into your existing training pipelines.  For deployment/inference with DeepSparse, AVX-512 will give a significant speed-up over AVX-2. If VNNI is available then even more so because then quantization becomes viable for speed-up.  Using a reduced image size on 4 or 8 cores we can get to the 20FPS+ range wi

[2021-04-07 02:42] markurtz commented on #66
@bensuucar, thanks for the additional info! It's interesting; that is not what we would expect. For dense models, we hope to at least match other base CPU implementations such as ONNX Runtime. MobileNet backbones we would expect to run much faster since they can be considered structurally sparse and use the memory optimizations in DeepSparse.

Is there a sample model/architecture you could provide

[2021-04-08 15:45] #69 closed

[2021-04-13 14:36] adrianosantospb commented on #65
Hi, @bfineran. Tks for spending time with my questions.

Just to conclude my preliminary analysis.

a) Using the sparseml, we can train our own model with sparse operation (pruning and quantization) parameters set. We need to define the recipe. Yaml to do it. But if we want to get the high Neural Magic performance, we need to run it on a machine with AVX-512 and VNNI. So, if I do this, I will get

[2021-04-21 03:57] iamweiweishi opened #88 "Any workplan for supporting ARM CPUs"
Great contribution.
It would be better if deepsparse could support ARM devices.

[2021-04-23 12:27] markurtz commented on #88
Hi @iamweiweishi, we feel the same way and this is something on our medium-term roadmap! We don't have an exact time frame right now but are actively looking into it. The good news is that the ARM architecture lends itself very well to what we did for the x86 architecture, so we expect similar speedups for pruned and pruned quantized models. We'll be sure to update here once an alpha version is av

[2021-04-26 08:19] iamweiweishi commented on #88
@markurtz Looking forward to update. Thank you

[2021-04-26 15:43] jeanniefinks commented on #88
@iamweiweishi we'll close this issue for now but any arm updates, we'll post back for sure.

[2021-04-26 15:43] #88 closed

[2021-04-26 20:09] bfineran commented on #65
Hi @adrianosantospb

a) yes - training is done to create a model with pruning and quantization using SparseML + recipes.  To get performance during inference, we need to export to ONNX and run with `deepsparse`.  To get the full speedup, the CPU should support AVX-512 and VNNI.
b) We can get 20fps at 640,640 image sizes and up to 50fps at 320,320.  This is with a pruned-quantized model with AVX-51

[2021-06-01 19:45] markurtz commented on #66
Readme has been updated now with more info on expected acceleration for sparsification algorithms. Let us know if there is more that would help for us to add!

[2021-06-01 19:45] #66 closed

[2021-06-01 19:45] #65 closed

[2021-06-05 07:19] james20141606 opened #121 "Kernel restart when running jupyter notebooks"
Hi, I tried to run the following codes and it seems that it could run smoothly on my mac/terminal, but always died if I run in jupyter notebook:
[code]

The error information:
[code]

version:
I tried to install sparseml using `pip install sparseml`, and it will install torch with version `1.8.1+cu102` (which I found strange since the doc said sparseml requires <=1.8.0). I also tried to downgrade

[2021-06-07 15:49] james20141606 commented on #121
thanks for the help. seems that it is unrelated to pytorch version. I agree it should be a hardware dependency issue. seems that deepspare engine might not be compatible with some CPUs/GPUs.

[2021-06-07 17:30] bnellnm commented on #121
Hi @james20141606 , can you supply some more details about the system you are running on?  e.g. OS version/distribution, CPU version and contents of /proc/cpuinfo (if possible).  It would also help to know if you are running inside a VM and if so, which VM software is being used.

[2021-07-09 19:33] jonatron opened #128 "Can't run quickstart on DigitalOcean"
**Describe the bug**
Can't run quickstart https://github.com/neuralmagic/deepsparse#quickstart-with-sparsezoo-onnx-models on DigitalOcean droplet with "Premium Intel" CPU

**Expected behavior**
No error message

**Environment**
1. OS Ubuntu 20.04 (LTS) x64
2. Python version 3.8
3. DeepSparse version 0.5.1

**To Reproduce**
Exact steps to reproduce the behavior:
[code]
Run "ResNet-50 Dense" example

[2021-07-28 16:53] yasesf93 opened #151 "Deep Sparse vs onnx models"
Hello,
I have trained several pruned models and saved the weights (using other pruning methods) and converted the saved models to onnx (using torch). I'm interested in comparing their inference times. The results are confusing as the trends do not stay the same when I change the batch size. Also, for some batch size and model combinations, onnx is faster than Deep Sparse which is confusing. I was

[2021-07-28 18:57] jeanniefinks commented on #121
Hello @james20141606
Let us know if the issue is still happening and you are able to share some more information per the last message?
If we don't hear back, we'll close out this issue in the next few weeks as we'll assume you're all set. Thank you.

Cheers, Jeannie / Neural Magic

[2021-08-03 13:58] mgoin commented on #151
Hi there! The algorithms and implementations the DeepSparse Engine uses for each operation can vary greatly between different hardware, model architectures, and input sizes, including batch size. Simply put, there are too many combinations to pick the perfect setup every time. In my experience, DeepSparse scales much better with large batch size and numbers of cores compared to other frameworks.
I

[2021-08-09 20:03] jeanniefinks commented on #121
Hi @james20141606
As there has been no response, we'll close this issue but please re-open it if you're able to provide some more details per our last few comments. Thank you.
Regards, Jeannie / Neural Magic

[2021-08-09 20:03] #121 closed

[2021-08-11 12:16] nietras opened #174 "Does a C API exist for deepsparse or is this python only and are all benchmarks via python?"
Just a quick question. Is it possible to use deepsparse for inference directly in other languages e.g. C++, C# or similar? Or is all code written in python?

[2021-08-11 16:56] bnellnm commented on #174
Currently, we only have a python interface but we are planning on adding a C++ interface in an upcoming release.

[2021-08-18 12:04] PSathyaBhat opened #176 "deepsparse installation fail"
**Describe the bug**
Unable to install deepsparse engine.

**Expected behavior**
Should have installed from the pip install deepsparse command.

**Environment**
Include all relevant environment information:
1. OS : Windows 11
2. Python version : 3.9

**To Reproduce**
pip install deepsparse

**Errors**
Please see the attached error log.

[error.log](https://github.com/neuralmagic/deepsparse/files/7

[2021-08-18 12:48] markurtz commented on #176
Hi @PSathyaBhat, currently both Windows and Python 3.9 are unsupported.

We are working on the support of Python 3.9 for the next release, 0.7.0, now which is due to a dependency no longer being compiled for older versions on Python 3.9. We'll update once that support is fixed.

Windows is currently on the medium-term roadmap for native support. For now, the recommended workaround is running a Lin

[2021-08-18 12:55] PSathyaBhat commented on #176
Thanks a lot for the update. I will work on my other machine.

[2021-08-21 14:27] XiaoJiNu opened #177 "yolov5 speed is very slow"
Hi, I test yolov5s model in ubuntu 16.04 but the speed is very slow as below figure. It warns that VNNI instructions not detected, quantization speedup not well supported. What't the problem and how should I solve it ?

![image](https://user-images.githubusercontent.com/30587645/130324913-bc456092-8579-4651-acff-116959335b5f.png)

My cpu information as below figure shown
![image](https://user-imag

[2021-08-21 17:31] markurtz commented on #177
Hi @XiaoJiNu, when this error pops up it means that the current CPU being used does not have the VNNI instruction set available. VNNI is required to run on CPUs performantly with quantization and the DeepSparse engine.

We recommend trying to deploy on a VNNI capable CPU if possible such as the c5.12xlarge on AWS. If you supply more info about where you are trying to deploy, then we can give bette

[2021-08-22 03:38] XiaoJiNu commented on #177
@markurtz Thank you, now I use Intel(R) Xeon(R) CPU E5-2680 v4 @ 2.40GHz which supports avx 512 as below first giure

![image](https://user-images.githubusercontent.com/30587645/130341063-fffa5257-9da2-46c0-a714-29b4b38acbb3.png)

When I run yolov5l with following code and the inference time as the second figure shown, is the inference time right ?
python annotate.py     zoo:cv/detection/yolov5-l/

[2021-08-24 13:12] subhasisj opened #178 "Deepsparse BERT Classification model."
I want to convert a BERT classification model twith Deepsparse. I'm unable to find any appropriate examples for the.

I have an ONNX converted a model fine tuned with Hugging face API.
Any help with this regard is highly appreciated.

Thanks,
Subhasis

[2021-08-25 00:01] markurtz commented on #178
Hi @subhasisj, are there any current issues you're running into? If you have an ONNX exported from the Hugging Face API, then you should be able to measure performance with that by simply plugging the DeepSparse API into your current pipeline. Some examples specifically for Hugging Face can be found [here](https://github.com/neuralmagic/deepsparse/tree/main/examples/huggingface-transformers).

If

[2021-08-25 00:13] markurtz commented on #177
Hi @XiaoJiNu, could you run the following code to confirm the support of VNNI and AVX512? Looking up that CPU quickly I wasn't able to find definite support for either listed out but did see support for AVX2.

If VNNI isn't supported, then the pruned model should give speedup as you gave the results for. We can't guarantee the exact performance, but you should see at least 2x better performance as

[2021-08-25 13:54] subhasisj commented on #178
Hi Mark,
Thanks for replying. I want to leverage sparsification for improved inference speeds with my BERT Model for a text classification task.
https://github.com/neuralmagic/sparseml/blob/main/integrations/huggingface-transformers/tutorials/sparsifying_bert_using_recipes.md

The above link talks about SQuAD dataset and shows how to use it with run_qa.py script. But can I use the same for a text

[2021-09-01 22:55] markurtz commented on #178
Yes, great question. We have a branch up on our transformers fork that you can try out which includes a GLUE example using our recipes located here: https://github.com/neuralmagic/transformers/blob/50277cb780535ee9106a456b84ef00d90a91ce36/examples/pytorch/text-classification/run_glue.py#L75

We're planning to land this soon and have example recipes up for it, but in the meantime, you can follow th

[2021-09-02 21:01] mgoin commented on #128
Hi @jonatron thanks for the bug report! We had trouble replicating this until another user reported similar issues with shared CPU DigitalOcean droplets.

`arch.bin` is used by DeepSparse to get information about the system's hardware topology so the engine can decide what algorithms to use and make optimizations. One of the key features needed is information about the number of cores and how much

[2021-09-02 22:25] jonatron commented on #128
Thanks for the update!

I can deduce the physical core architecture:
[code]

According to https://en.wikichip.org/wiki/intel/microarchitectures/skylake_(server)
L1I Cache | 32 KiB/core8-way set associative
L1D Cache | 32 KiB/core8-way set associative
L2 Cache | 1 MiB/core16-way set associative
L3 Cache | 1.375 MiB/core11-way set associative

Of course that can't be detected automatically. Perhaps

[2021-09-02 22:37] stonextu opened #183 "Is there plan to support sparse NN influence on mobile devices, such as Arm CPUs?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-09-03 12:25] markurtz commented on #183
Hi @stonextu, it's definitely a requested feature and we have looked into it. Based on the amount of work for support, it's on our medium to long-term roadmap currently. Subscribe to our email list or join our slack community to receive updates for this and any changes in priorities! Additionally, as we push closer to official support we'll be looking for alpha and beta testers.

[2021-09-03 12:40] stonextu commented on #183
Sure, already subscribed. Looking forwards to seeing it.

In addition, I noticed that NeuralMagic don't open source onnx-deepsparse-runtime instead of .so file.  Will open source  onnx-deepsparse-runtime later?

[2021-09-03 22:50] markurtz commented on #183
Great to hear you're already subscribed! Open sourcing of the backend runtime is something we're not planning for the near to medium term. It is something we're actively reevaluating, though, as the company and the industry as a whole grows to see what works best for the needs of our users.

[2021-09-07 15:38] mgoin commented on #128
@jonatron yes I believe the best way past this in the short-term is to set the CPU details manually. We're working on getting an accessible way to do this but unfortunately isn't trivial right now. I will keep you in the loop when we get this released.

Correct, it "should" be reporting 1MiB L2 cache since you are only on 1 core. Specifically you might only be running on one hyperthread since it i

[2021-09-10 19:56] fwsGonzo commented on #174
Will you be able to produce a static binary in the upcoming release? Python is notoriously hard to embed statically, and it would be nice to hear if you have any plans on producing a C++-only version.

[2021-09-13 13:32] bnellnm commented on #174
@fwsGonzo , we plan on providing a library to generate standalone C++ applications (no python involved).  At first It will still probably have some basic shared library dependencies, e.g. libc, libdl, etc. similar to python's manylinux restrictions.

[2021-09-27 16:46] jeanniefinks commented on #178
Hi @subhasisj
Thank you for your feedback. We're looking at doing Colab notebooks for these examples for sure. If you would to stay in touch on these types of activities, go to [Neural Magic Contact Us page](https://neuralmagic.com/contact/) and subscribe to the email communications from this page. We don't sell your info and it's not a lot of emails - we don't want to drive our users crazy. If th

[2021-09-27 16:46] #178 closed

[2021-09-29 19:55] pacospace opened #186 "Failed to deploy deepsparse in the cluster."
**Describe the bug**
Failed to deploy deepsparse in the cluster.

**Expected behavior**

**Environment**
Include all relevant environment information:
1. OS [e.g. Ubuntu 18.04]: ubi8
2. Python version [e.g. 3.7]: py38
3. DeepSparse version or commit hash [e.g. 0.1.0, `f7245c8`]: 0.7.0
4. ML framework version(s) [e.g. torch 1.7.1]:
5. Other Python package versions [e.g. SparseML, Sparsify, numpy, O

[2021-09-30 15:20] pacospace opened #187 "How to derive the probability of the predictions in deepsparse? For classification for example"
**Additional context**
Related-To: https://github.com/AICoE/elyra-aidevsecops-tutorial/issues/297

[2021-10-04 20:12] bnellnm commented on #186
Hi @pacospace, the engine will fail to install on machines that don't support the avx2 or avx512 instruction sets.  In some cases running in a docker or VM can confuse the architecture detection code when the underlying hardware does actually support one of these instruction sets.   Can you provide us with some more information about the machine you are trying to install on?  e.g. CPU type/version

[2021-10-04 21:53] pacospace commented on #186
Thanks for reaching out @bnellnm

I'm using Openshift on Operate First ( https://www.operate-first.cloud/) in the smaug cluster. The deepsparse image linked above is an s2i container based on ubi8 python 3.8.

I already checked `/proc/cpuinfo` and unfortunately none of the nodes reports flags with those instructions sets at the moment. I opened two features requests in Operate First to obtain a vi

[2021-10-04 23:54] bnellnm commented on #186
Hi @pacospace , the engine currently only supports avx2 and avx512 (and avx512 with optional vnni instructions).  avx512 is better supported in general and especially so for quantized networks when vnni is available.

[2021-10-05 08:32] pacospace commented on #186
CPU is:

[code]

[2021-10-05 08:35] pacospace commented on #186
Good to know thanks! I will test in a cluster with:
[code]

which has `avx512_vnni` flag

[2021-10-05 08:53] pacospace commented on #186
[code]

ok all good!! nice!! Thanks @bnellnm!

[2021-10-05 13:03] #186 closed

[2021-11-01 12:53] jeanniefinks commented on #174
Hi @fwsGonzo
I am happy to report this was included in our last release; please check out the documentation here, thanks!
[https://docs.neuralmagic.com/deepsparse/main/source/c%2B%2Bapi-overview.html](https://docs.neuralmagic.com/deepsparse/main/source/c%2B%2Bapi-overview.html )

[2021-11-02 08:41] nietras commented on #174
@jeanniefinks the API in question is an C++ API, which of course is good, but the question here is for a `C` API, one that can be used from other languages Java, C# (p/invoke) etc. So would not say this closes this issue. The issue is not C++ it's how to use deepsparse easily from C# for example, by calling C methods on a dynamic link library or shared object. One can, of course, create that by cr

[2021-11-08 17:04] jeanniefinks commented on #177
Hi @XiaoJiNu
Just checking in to see how you are with this? Should we close this issue for now or leave it open?
Thank you, Jeannie

[2021-11-08 17:06] jeanniefinks commented on #187
Hello @pacospace
Just checking in to see if you were able to provide more details or we should close out this issue? Thank you!
Best, Jeannie / Neural Magic

[2021-11-09 07:56] pacospace commented on #187
@markurtz @jeanniefinks I'm sorry for late reply!! This definetly answer my question, so my changes needs to be adjusted on the ONNX graph!

[2021-11-09 07:56] #187 closed

[2021-11-09 07:56] gkomix88 opened #191 "Can deepsparse run on windows 10?"
Hi, I would like to try deepsparse with yolov5 on windows 10.
Could the existing code run on windows 10?

I tried but so far no success.

[2021-11-11 02:41] rahul-tuli commented on #191
Hi @gkomix88, The DeepSparse Engine is validated to work on x86 Intel and AMD CPUs running Linux operating systems. Mac and Windows require running Linux in a Docker or virtual machine.

[2021-11-16 15:10] clementpoiret opened #198 "Cannot import deepsparse from WSL: cannot get cpu topology"
**Describe the bug**

For testing purposes, I want to try if my code works on Windows Subsystem for Linux (WSL2). I'm using Ubuntu 18.04LTS.

Once on Ubuntu on WSL, I create a new python virtual env, then `pip install deepsparse`.

After that, while trying to import deepsparse I get:

[code]

**Expected behavior**

Maybe it should work on WSL :)

**Environment**
Include all relevant environment in

[2021-11-17 15:12] Willtor commented on #198
That's an interesting one. My intuition is there's some incompatibility between Windows threads and pthreads that we hit in `arch.bin`. I'll have a look and see if there's anything glaringly obvious.

[2021-11-17 18:36] Willtor commented on #198
Hi, Clément -- can you give us details about your hardware setup? One of our engineers tested on Windows 10 with Ubuntu 18.04 and Python 3.9.7 and `arch.bin` ran fine.

Also, could you try running `/home/cp264607/mambaforge/envs/hsf/lib/python3.9/site-packages/deepsparse/arch.bin` directly? If it works, it should just give you some simple JSON output and exit.

[2021-11-18 18:26] Willtor commented on #198
Thanks! Is this an AWS instance? If so, which type? I'm going to try to replicate the environment to reproduce the bug.

[2021-11-19 17:18] clementpoiret commented on #198
It's just a virtual machine on my Laptop, made with KVM on Arch Linux

[2021-11-23 15:40] Willtor commented on #198
Ah! Okay. That's good to know. Are you able to run the examples, now?

[2021-11-25 02:24] thuangb commented on #191
So is Mac and Window support will be available ? Or it is impossible for deepsparse to work on Mac and Window ?

[2021-11-25 18:19] clementpoiret commented on #198
Yes, everything seems to be fine now :)

[2021-11-25 18:19] #198 closed

[2021-12-05 18:13] joaanna opened #218 "Converting onnx model to deepsparse"
Hi,
I'm trying to convert an onnx model to a deepsparse model, here is the code:
[code]

[code]
[code]

Do you have any ideas why the code is failing?

[2021-12-06 14:04] SageMoore commented on #218
Hi, joaanna. Thanks for filing the bug. Can you please post a link to the onnx model?

[2021-12-06 14:51] joaanna commented on #218
Hi, there it it: https://drive.google.com/file/d/1W3TS2VNirOeI5bcqqy4a9YdaRmfB7uza/view?usp=sharing. Thank you for your help

[2021-12-06 18:09] bnellnm commented on #191
Hi @thuangb, other than using Docker, WSL or a VM of some type, we currently have no plans to natively support the engine on Windows or MacOS.

[2021-12-06 18:21] #191 closed

[2021-12-06 18:59] joaanna commented on #218
I'm happy to upload it again in case it's no available

[2021-12-06 20:34] tlrmchlsmth commented on #218
Hi joanna,

Thank you very much for providing us with the model. We've been able to reproduce the bug and plan to release a hotfix to fix the issue soon.

[2021-12-07 19:38] mgoin commented on #218
Hi there, we have a fix in the latest nightly build if you would like to try it out.
https://pypi.org/project/deepsparse-nightly/0.10.0.20211206/

[code]

Otherwise stay posted for a hotfix release, thanks!

[2021-12-07 22:36] joaanna commented on #218
Hi,

Thank you for such a fast response!
I did try your updated package, however I get the same error as before:
[code]

I am looking forward to the hotfix release :)

[2021-12-10 20:32] mgoin commented on #218
Hi @joaanna sorry for the delay. Thanks for trying and you are right to see the same error, that nightly was just too old to include the fix.

If you'd like to give it a try with our initial fix, please feel free to try the new nightly build with `pip install deepsparse-nightly==0.10.0.20211208`.

An official hotfix release will be coming likely next week. Thanks!

[2021-12-10 20:34] mgoin commented on #183
Closing as this is not a short-term issue/target and discussion has fizzled. Thanks!

[2021-12-10 20:34] #183 closed

[2021-12-16 06:29] prasanth-pivotchain commented on #218
Hi @mgoin, I am facing a similar issue

`DeepSparse Engine, Copyright 2021-present / Neuralmagic, Inc. version: 0.10.0.20211208 (811251bd) (release) (optimized) (system=avx2, binary=avx2)
WARNING: Running quantized (INT8) operations with only AVX2 instructions available. Sparse optimizations disabled and performance is greatly degraded.
DeepSparse Engine, Copyright 2021-present / Neuralmagic, Inc.

[2021-12-16 17:42] SkalskiP opened #226 "YOLOv5 pruned_quant-aggressive_94 exception"
**Describe the bug**
I was trying to run demo code with YOLOv5 pruned_quant-aggressive_94 model on `g4dn.x2large` and encountered this exception.

**Stack trace**

[code]

**Environment**
1. Ubuntu 18.04
2. Python 3.8
4. ML framework version(s)
[code]
5. Other Python package versions
[code]

Is there any chance you could help me out to debug that issue?

[2021-12-16 19:15] mgoin commented on #226
Hi @SkalskiP thanks for reporting this issue. Could you help us a little more to get enough details?

Which script are you using? I tried to replicate your situation using `deepsparse/examples/ultralytics-yolo/benchmark.py` with the pruned and pruned-quant models on an avx512 machine. Also are you using the models straight from the SparseZoo? I passed in the Zoo model stubs directly to the script.

[2021-12-16 19:18] mgoin commented on #218
Hi @joaanna our hotfix release `0.9.1` is out which includes a fix for your model, thanks for your help.

Also hi @prasanth-pivotchain , unfortunately this seems to be a separate issue that we're having trouble replicating. Another user just posted an issue (https://github.com/neuralmagic/deepsparse/issues/226) that seems to the same though, so please share details there if you'd like to help out.

[2021-12-16 22:47] SkalskiP commented on #226
Hello @mgoin I actually run some demo version of my app:

[code]

[2021-12-16 22:59] SkalskiP commented on #226
Is it possible that the presence of other python dependencies is causing this problem? I have quite a few other packages installed in this python environment?

[2021-12-17 06:17] prasanth-pivotchain commented on #226
Hi @mgoin, I am facing a similar issue

[code]

I have deepsparse-nightly==0.10.0.20211208 installed. The engine runs fine when using the original image size for yolo, however, it fails with the above stack trace when I modify the model input size using `deepsparse_utils.modify_yolo_onnx_input_shape` . Please help.
TY

[2021-12-17 06:17] prasanth-pivotchain commented on #218
Okay, Thanks

[2021-12-17 06:31] SkalskiP commented on #226
I'll test today if my code runs correctly without changing input size to confirm it is the same issue.

[2021-12-17 10:47] SkalskiP commented on #226
I tested and it looks like it is the same issue as in @prasanth-pivotchain case. When I'm using default model without changing input size, code runs correctly.

[2021-12-17 14:39] SkalskiP commented on #226
Hello, @mgoin we spent time today to create some path of reproduction for you. Here is a small repo with Docker image and a simple Python script. Everything is described in README.md. https://github.com/SkalskiP/deepsparse-yolov5-minimal-example It fails when we run it on `g4dm.xlarge` AWS instance with stock ubuntu image and run is as `ubuntu` user.

[2021-12-17 15:04] mgoin commented on #226
Hi there @SkalskiP thanks so much for all of the details and help! I was able to successfully recreate the error now and we are working on a fix. I will keep you posted when we have an update available on nightly to test. Thanks again.

[2021-12-17 17:18] SkalskiP commented on #226
We are meeting again! I'm very glad you were able to reproduce the bug. We put a lot of energy into reproducing it. I know it's a little early, but do you happen to have an ETA for this fix?

[2021-12-17 18:38] jeanniefinks commented on #177
Hello @XiaoJiNu
As there have been no further comments on this, we will close out this issue. Feel free to re-open it however if you would like to continue the conversation.
Thank you! Jeannie / Neural Magic

[2021-12-17 18:38] #177 closed

[2021-12-17 19:06] mgoin commented on #226
Thanks for joining the community and your effort 🙂
We should have a fix available on the nightly build next week, will stay in touch.

[2021-12-17 19:17] SkalskiP commented on #226
It is pure pleasure. A few months ago I heard about what you are doing and I must say I am very impressed. A few months ago I heard about what you are doing and I must say I am very impressed. And I have to say that since I was assigned the task of optimizing our jobs (using Deepsparse among other things), I'm constantly learning something new. Fascinating subject. 🧐  Let me know when it's ready h

[2021-12-24 14:28] SkalskiP opened #227 "Use `deepsparse/examples/ultralytics-yolo/benchmark.py` to benchmark yolov5 base model with torch engine"
Hello team. I was trying to use your yolov5 benchmarking script today, to compare fps achieved by default yolov5 model in pytorch and your optimized version running in deepsparse engine. Up until now, I was using your script to measure the performance of prooned and quantized models (as you may know as I was posting about it on your Slack) but I was using my own inference pipeline to measure the p

[2021-12-27 17:14] mgoin commented on #226
Hi @SkalskiP and @prasanth-pivotchain, thanks for waiting over the holidays! I'm happy to share a fix for this issue on our latest nightly build which can be found here: https://pypi.org/project/deepsparse-nightly/0.10.0.20211227/
This will also be available in our upcoming stable release coming near the end of January.

Here is how I validated that this issue on this build:
[code]

[2021-12-27 17:35] mgoin commented on #227
Hi @SkalskiP, we definitely want to be able to run this kind of benchmark for you. To clarify that script is meant to benchmark between DeepSparse, ONNXRuntime, and Pytorch. For the first two you can use the SparseZoo model stub as you already are because they both take ONNX but for Pytorch you'll need to use their specific file type.

We have this distinction documented in the script in the help

[2021-12-29 11:13] SkalskiP commented on #226
Hi @mgoin, I'm off until January 4th/5th, but I will certainly test if it has solved the problems we originally encountered. I'll let you know in about a week or so. Thank you 🙏

[2021-12-29 11:43] SkalskiP commented on #227
Hi @mgoin, thank you for clarifying. As I mentioned in the previous issue I'm off right now, but I'll be back in a week or so and will definitely look at it. It's a little unobvious that PyTorch inference doesn't work when you specify a stub, despite the fact that you're hosting the model. Perhaps I could prepare a PR modifying this script? If I understand correctly, the zip hosted under stub cont

[2022-01-01 04:13] sayakpaul opened #229 "Possible to use DeepSparse with `tf.keras.applications` models?"
Hi.

I would be interested to know if this is possible.

[2022-01-01 04:16] sayakpaul commented on #229
Sorry. Seems like it's possible: https://docs.neuralmagic.com/sparseml/source/onnx_export.html.

[2022-01-01 04:16] #229 closed

[2022-01-01 04:21] sayakpaul commented on #229
It didn't work though:

[code]

Leads to:

[code]

Versions:

* TensorFlow: 2.7.0
* SparseML: 0.9.0

[2022-01-04 12:36] prasanth-pivotchain commented on #226
Hi @mgoin, Thank you for your quick response. However, the issue still persists in my case. I am going to wait for the hotfix release.

[2022-01-04 14:48] mgoin commented on #226
Sorry to hear that @prasanth-pivotchain , is it the same issue as before now? We might need more information in order to deal with your problem for the next release if it is still present.

I noticed your problem occurs on an avx2 machine I tried running a similar setup on the new build with an image shape of 800x800
[code]

It seems to run fine for the sparse FP32 and sparse INT8 yolov5s, so I'm

[2022-01-04 23:49] SkalskiP commented on #226
Hi, @mgoin. I'll be back at work in 2 days. I'll let you know what I found ;)

[2022-01-05 08:38] prasanth-pivotchain commented on #226
Yes @mgoin, I am using image shape (320, 320) on an avx2 only machine. I will make a clean install and post the stack trace for you.

[2022-01-05 14:46] mgoin commented on #226
@prasanth-pivotchain I was able to recreate a failure using image shape (320, 320). Thanks for the additional info that should be enough to start working on a fix!

[2022-01-06 16:19] mgoin commented on #226
Hi there @prasanth-pivotchain we have an [updated nightly build](https://pypi.org/project/deepsparse-nightly/0.10.0.20220106/) that should address your issue if you'd like to try it. Let me know if you get the chance, otherwise it will be in our next release in a few weeks. Thanks for your help finding and reporting this!

[2022-01-07 05:46] prasanth-pivotchain commented on #226
Hi @mgoin, everything is working as expected. Thanks for the help.

[2022-01-24 16:25] jeanniefinks commented on #218
Hello @prasanth-pivotchain and @joaanna
It appears we can close our this thread  I am going to go ahead and close this comment. Please re-open if you have a follow-up. Also, I invite you to "star" our DeepSparse repo if you like and have not already! We always like seeing the community support!
[https://github.com/neuralmagic/deepsparse/](https://github.com/neuralmagic/deepsparse/)

Thank you!
Jea

[2022-01-24 16:25] #218 closed

[2022-02-10 19:39] jeanniefinks commented on #226
Hello @prasanth-pivotchain

I am going to go ahead and close this thread out with your confirmation. But if you have more comments, please re-open and we'd love to chat. Lastly, if you have not starred our deepsparse repo already, and you feel inclined, please do! Thank you in advance for your support! [https://github.com/neuralmagic/deepsparse/](https://github.com/neuralmagic/deepsparse/)

Best,

[2022-02-10 19:39] #226 closed

[2022-02-15 21:02] hardsetting commented on #174
@jeanniefinks thanks for adding the C++ API!
I tried looking around for the source code of the API (for testing with cross-compiling) but couldn't find it anywhere.
Is there any plan to release it too?

[2022-03-08 08:54] edwardnguyen1705 opened #279 "Converting nanodet onnx model to deepsparse"
Dear @jeanniefinks ,

Firstly, thanks for sharing your work.
We are trying to apply [sparseml](https://github.com/neuralmagic/sparseml) to [NanoDet-Plus-m](https://github.com/RangiLyu/nanodet) that is considered the most suitable for edge devices til now.

Here are some steps I have been trying:
1. Download `pytorch (.pth)` model then convert to `onnx` model. I even tried: [sparseml.onnx_export](h

[2022-03-08 11:55] RasoulZamani opened #280 "no better speed on yolo quant"
Hi!
How is it going?

At first ,thanks for your good repo and helping to make better and faster model.
I use your yolo example for getting better speed, and I compare base, pruned and quant models as you said. but all result were aproximatly same .
there is no vnni warning, and my server is ubuntu 18
my code is:

import os
# models :
yolov5s_base = "zoo:cv/detection/yolov5-s/pytorch/ultralytics/co

[2022-03-08 16:26] mgoin commented on #280
Hi there @RasoulZamani , thanks for opening this issue.

It looks like you are using our `annotate.py` example which is best used to see the quality of the model result on real images. If you would like to specifically benchmark the performance of inference for different models, we recommend trying our `benchmark.py` example in the same directory.

Using `annotate.py` as a benchmarking script is n

[2022-03-08 17:07] RasoulZamani commented on #280
thanks for replying me!

yes I was used your annotate.py on base and qunt models (of yolov5 )

I want see effect of various models on one sample (batch size =1)
by annotate.py I see no difference in speed

what is your suggestion?

[2022-03-08 17:33] mgoin commented on #279
Hi @edwardnguyen1705 thanks for telling us about this new model to us and your issue.

We were able to reproduce your issue and are working on a fix with the [nanodet-plus-m_320.onnx](https://github.com/RangiLyu/nanodet/releases/download/v1.0.0-alpha-1/nanodet-plus-m_320.onnx) pre-exported from this release: https://github.com/RangiLyu/nanodet/releases/tag/v1.0.0-alpha-1

We'll let you know when w

[2022-03-08 19:55] mgoin commented on #280
Right so annotate.py only works with the data you give it and a single image by itself isn't how we usually measure performance. Usually there is a stream of batch size=1 images coming into the engine and you can measure that scenario with `benchmark.py` that I mentioned before.

You can run something like:
[code]

If you'd like to continue to use annotate.py then I would recommend running multipl

[2022-03-09 02:36] RasoulZamani commented on #280
do you mean that your sparse method  not effect on single inference? we should use it in batch mode to gain better speed?

[2022-03-09 02:44] edwardnguyen1705 commented on #279
Hi @mgoin thanks for letting me know. It is great to hear you said that.

[2022-03-09 12:32] RasoulZamani commented on #280
I found that running model itself speed up, but because of postprocessing after it, maybe we cant see it in end to end program.

[2022-03-09 12:42] RasoulZamani opened #281 "how to save result from engine.run output?"
Hi, I want to use your quant and sparse yolov5s model.
when I run compile_file engine (engine.run) I get a list of array of this shapes:
(1,3,40,40,85) , (1,3,20,20,85),..
how can I get croped image (as array) from this output?(as yolo)

yolo itself use non_max_suppression on model output (it has such shape: (1,2550,85) ) and then some post processing on it. how about your model?

 because of I ne

[2022-03-09 15:11] mgoin commented on #280
Our sparse method does have speedup at batch size=1. What I was suggesting is running more than one image, one-after-another not a higher batch size, through the compiled model to evaluate the performance.

The first few inferences might be slow while the engine is warming up and loading everything into cache, but it will settle on a stable average eventually.

[2022-03-09 15:22] #280 closed

[2022-03-09 19:44] markurtz commented on #281
Hi @RasoulZamani , our current supported flows are trhough annotate.py for now. In the near future (4-6 weeks) we are going to be revamping our object detection pipelines to make this easier to use and to have it run out of the box.

In the interim, could you supply a bit more info on what your setup looks like for the application so we might suggest a workaround in the near term?

Thanks,
Mark

[2022-03-21 08:13] Jason-Hsu opened #292 "The AVX instruction set is unknown. Set NM_ARCH to one of avx512,avx2 to continue."
Hello, thanks for your work. I got an issue when executing the example. Not sure if I misunderstand anything.
Sorry that I mislabel it to a bug, but I don't know how to delete this label.

**Describe the bug**
A clear and concise description of what the bug is.
To execute the example - [ultralytics-yolo](https://github.com/neuralmagic/deepsparse/tree/main/examples/ultralytics-yolo), it would have

[2022-03-21 14:59] tlrmchlsmth commented on #292
Hi @Jason-Hsu thanks for reporting your issue. Unfortunately we do not support your i7-3770. The DeepSparse Engine requires, at minimum, CPUs that support the AVX2 instruction set, and your processor only supports up to AVX.

[2022-03-21 14:59] #292 closed

[2022-03-21 15:00] tlrmchlsmth commented on #279
Hi @edwardnguyen1705 we just released DeepSparse 0.11.1, which contains a fix for the assertion that you ran into. Hopefully this fixes your issue, and if you try it, please let us know how it goes. Thank you!

[2022-03-25 16:24] #279 closed

[2022-03-28 15:23] jeanniefinks commented on #174
@nietras
At this time, there are no plans for Neural Magic for the inclusion of a `C` API. Our internal team though has been made aware of this thread should there be a change on our roadmap.

@hardsetting
Because the API is within our binary for the DeepSparse Engine, we cannot distribute the source code of the API. However, on the documentation page ([https://docs.neuralmagic.com/deepsparse/main

[2022-03-31 04:15] edwardnguyen1705 commented on #279
Hi @tlrmchlsmth ,
Thanks for the fix. It seems that the old err is solved, but I got another err, please the the attached image.
![Screen Shot 2022-03-31 at 11 11 31](https://user-images.githubusercontent.com/7928673/160975266-8f11e808-b279-4339-ab7f-01524dc90244.png)
r

[2022-04-02 10:01] edwardnguyen1705 commented on #279
Hi @tlrmchlsmth ,
I am able to fix the error. However, It would be nice if `sparsify` supports `pytorch` model (pth). It is really hard to find the mapping between `onnx` and `pytorch`. Thanks for your time.

[2022-04-04 20:27] markurtz commented on #279
Hi @edwardnguyen1705, I've opened up https://github.com/neuralmagic/sparseml/issues/670 to continue the discussion on this. These issues will happen outside of DeepSparse and we'll continue to support through that new thread.

Thanks!

[2022-04-11 14:58] jeanniefinks commented on #174
Hello @nietras and @hardsetting
As it's been a few weeks with no response, I am going to close this thread. But please do re-open if you have additional related questions; we're happy to help.

Best, Jeannie / Neural Magic

[2022-04-11 14:58] #174 closed

[2022-04-15 01:41] jz-exwzd opened #321 "pruned models run faster than unpruned models only when batch size is of certain size (2^n)"
**Describe the bug**
Hi, I have been experimenting with pruning with SparseML and inference with DeepSparse.
There are two bugs/ questions that I would like to ask here:
1) I have found that for my own pruned models, they run slower on  DeepSparse  with batch size 1 than the unpruned version.
In fact, the pruned models' speed exceeds the unpruned version when the batch size is >=16.
For models dow

[2022-04-19 19:41] mgoin commented on #321
Hi @jz-exwzd thanks for opening this issue and being patient.

I was able to run your notebook on my system:
[code]

Using your setup I was able to see similar performance to what you reported and what I saw in the saved outputs of the notebook cells. We have some tuning work to do for these "edge-case" batch sizes like 15 and 17 but are a little unsure of how to improve general performance for lo

[2022-04-20 05:24] jz-exwzd commented on #321
Hi Michael,

   Thank you for your detailed reply. It is very informative. I am glad that I reached out to the team about this issue.

   I generally agree on the replies to both questions, especially about the first one. Basically there needs to be sufficient redundancy in the model for the pruning to actually exploit it and subsequently achieve speed up using DeepSparse. I guess there is not muc

[2022-04-20 05:24] #321 closed

[2022-05-02 08:11] jz-exwzd opened #341 "Is Deepsparse specially optimized for certain model architectures regardless of the sparsity?"
Hi there,

I have been experimenting with the DeepSparse engine, and this is my second issue. I thought initially that DeepSparse engine is a general engine designed to exploit the sparsity in a model to achieve faster inference speed. However, recently I discovered that regardless of the sparsity of the model, model's architecture seems to play a bigger role in the final inference speed achieved

[2022-05-02 19:07] markurtz commented on #341
Hi @jz-exwzd, we do optimize for performance for known architectures. We have not had a chance to support the group convolutions in ResNext and SEResNext yet, unfortunately, so any models containing those are not going to be very performant. ViT should be fairly well supported, though, for performance speedup. Do you have an example ONNX for that one we can take a look at to figure out more?

For

[2022-05-06 07:46] jz-exwzd commented on #341
Hi @markurtz,

  Thank you for your detailed replies. Glad that my observations were not wrong. That explains why some models perform better with the DeepSparse engine even without any sparsity. About the memory-bound issue, basically the memory-bound behavior becomes the bottleneck to the performance?

About the ViT, it is just the onnx format of the checkpoint from the Timm libraries. More speci

[2022-05-14 12:33] breaks-software opened #365 "YOLOv3 examples link in the root README leads to a 404"
The public https://github.com/neuralmagic/deepsparse/tree/main/examples file has the following link to YOLOv3 examples.
https://github.com/neuralmagic/deepsparse/blob/main/examples/ultralytics-yolov3/
This link leads to a GitHub 404 page, indicating that the target directory does not exist.

I expected the link to bring me to a valid page.  Perhaps it should be https://github.com/neuralmagic/deeps

[2022-05-16 18:16] mgoin commented on #365
Hi @breaks-software, nice catch. Yes we updated that `ultralytics-yolo` example to include YOLOv3 and YOLOv5. This `examples/README` needs to be updated in general for the new examples.

[2022-05-18 16:29] mgoin commented on #365
@breaks-software just landed a fix for this so closing, thanks again!

[2022-05-18 16:29] #365 closed

[2022-05-19 11:43] kristina-licenberger opened #376 "Unable to install deepsparse-transformers dependencies"
**The bug**
Unable to install deepsparse-transformers dependencies

**Environment**

1. OS release='4.15.0-117-generic', version=118-Ubuntu SMP, machine='x86_64':
2. Python 3.6.12 :
3. DeepSparse version 0.12.1:
4. ML framework version(s) torch-1.10.2:
5. Other Python package versions transformers-4.18.0 :
6. CPU info - output of deepsparse/src/deepsparse/arch.bin or output of cpu_architecture():

[2022-05-19 14:46] markurtz commented on #376
Hi @kristina-licenberger, we're unable to reproduce using the pip install command linked here. It looks like there may be a local issue with HTTPS/SSL working for the pip setup. Can you verify that the local time for the server is correct and up to date and additionally pip is up to date?

Separately you can download the whl file from here to install from a local file: https://github.com/neuralmag

[2022-05-24 05:36] dnth opened #383 "Overly large text annotation"
**Describe the bug**
When running `annotate.py` in https://github.com/neuralmagic/deepsparse/tree/main/examples/ultralytics-yolo
the text annotation on the inference window is too large.

The text annotation (`images_per_sec`) on the inference window is so large to the point some of the texts are not visible because they exceed the window size.

Screenshot attached 👇

**Expected behavior**
All tex

[2022-05-24 10:12] kristina-licenberger commented on #376
Hi @markurtz, I managed to download the whl file from the link you have provided me and install deepsparse-transformers. Thank you :)

[2022-05-24 13:46] vvolhejn opened #385 "Crash when importing"
I installed deepsparse using Pip. When I try to import it, Python immediately crashes:

[code]

**Environment**
Include all relevant environment information:
1. OS [e.g. Ubuntu 18.04]: CentOS Linux release 7.9.2009 (Core)
2. Python version [e.g. 3.7]: 3.8.5
3. DeepSparse version or commit hash [e.g. 0.1.0, `f7245c8`]: 0.12.1 (18c5ee67)
4. ML framework version(s) [e.g. torch 1.7.1]: n/a
5. Other Py

[2022-05-24 14:37] vvolhejn commented on #385
@tlrmchlsmth Sure!

[code]

[2022-05-24 15:34] andy-neuma commented on #385
hello @vvolhejn , sorry for the inconvenience. Could you check your system files by listing the contents of "/sys/devices/system/cpu", i.e. `ls /sys/devices/system/cpu`?

[2022-05-24 15:49] #383 closed

[2022-05-25 11:34] vvolhejn commented on #385
@andy-neuma thank you for looking into this. Unfortunately, this did not help. See below - I first demonstrate that the environment variable is set to the file you sent me, and then I try to import deepsparse again:

[code]

[2022-05-25 12:44] andy-neuma commented on #385
@vvolhejn , sorry to see it not working. let me do a bit more investigation on my end.

[2022-05-28 01:10] animeesh opened #396 "ERROR: Failed building wheel for deepsparse & unable to install deepsparse on windows as well as on macos."
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment**
Include all relevant environment information:
1. Mac OS
2. Python version 3.9.7:
3. DeepSparse version latest
4. CPU - m1 chip

**To Reproduce**
Exact steps to reproduce the behavior:
conda created environment
installed onn

[2022-05-28 01:20] #376 closed

[2022-05-30 15:16] vvolhejn commented on #385
@andy-neuma Progress - it's a different error now!

[code]

This one has a stack trace, which is nice. I tried printing out the error by editing `src/deepsparse/cpu.py` and inserting `print(ex)` on line 132. This added the following line to the output:
[code]
Hope this helps.

[2022-05-31 06:21] tankienleong opened #397 "Comparison with OpenVino"
Hi, is there anyone compares DeepSparse with OpenVino?

[2022-05-31 13:01] andy-neuma commented on #385
@vvolhejn - thanks for giving this a try!

there seems to be an issue decoding the json. would you mind double checking that you have set NM_ARCH_FILE to the json file?

[2022-05-31 15:15] mgoin commented on #396
Hi @animeesh this error is well-formed as the deepsparse engine doesn't support non-Linux operation systems at the moment. Sorry we can't offer support for these systems at the moment but it is something we're considering in the long-term.

[2022-05-31 15:15] #396 closed

[2022-05-31 15:48] animeesh commented on #396
thankyou for reply

On Tue, May 31, 2022 at 8:46 PM Michael Goin ***@***.***>
wrote:

[2022-06-01 04:25] bitcoinmeetups opened #401 "Please make an ARM version for Raspberry Pi 4"
Hello,

I'm BM. A very nice and polite guy.

Please make an ARM version for Raspberry Pi 4

[2022-06-01 13:31] vvolhejn commented on #385
@andy-neuma I have checked that - I'm fairly confident that's not the issue because the error is coming from the line [`error = json.loads(ex.stdout)`](https://github.com/neuralmagic/deepsparse/blob/main/src/deepsparse/cpu.py#L132) where the program is actually trying to parse an *exception* that has already occurred. I tried printing this exception `ex` and got

[code]
Also, `ex.stdout` is the em

[2022-06-01 14:54] andy-neuma commented on #385
@vvolhejn - thanks for taking the extra step and yes it helps. I'll take a look on my end and get back to you.

[2022-06-01 20:16] Grigor355 opened #408 "Custom ONNX with LSTM and dynamic batch size"
I am trying to compile an LSTM based ONNX model, but the kernel dies. It works with CNN based ONNX. Also, it is possible to have a model with dynamic batch size?
Ubuntu - 18.04
Python - 3.8
ONNX - 1.9.0
deepsparse - 0.12.1

[2022-06-01 20:17] mgoin commented on #401
Hi @bitcoinmeetups thanks for letting us know about your target hardware. We are actively working on an ARM version of the deepsparse engine! It's still in development and we will hopefully have something to share in the coming months.

[2022-06-01 20:21] mgoin commented on #397
Hi @tankienleong we had some benchmarks run against DeepSparse and OpenVINO on image classification models a year ago by VMWare - https://neuralmagic.com/blog/accelerating-machine-learning-inference-on-cpu-with-vmware-vsphere-and-neural-magic/

We hope to be sharing some new comparisons using BERT models on NLP tasks in a few weeks, will update here when that lands.

[2022-06-02 17:00] hcordobest commented on #401
That's great news! Is it there any place we can subscribe to be informed when it's available or become beta tester? Thanks!

[2022-06-03 00:27] mgoin commented on #401
@hcordobest we'll make note to reach out early and you can sign up for email announcements [here](https://neuralmagic.com/subscribe/) or join our slack community [here](https://join.slack.com/t/discuss-neuralmagic/shared_invite/zt-q1a1cnvo-YBoICSIw3L1dmQpjBeDurQ).

[2022-06-03 08:35] hcordobest commented on #401
Great! Signed up now :+1:

[2022-06-06 12:13] akashAD98 opened #415 "getting low fps & inference issue"
1.i used this repo
https://github.com/neuralmagic/deepsparse/tree/main/examples/ultralytics-yolo
& this command
!python annotate.py \
   zoo:cv/detection/yolov5-s/pytorch/ultralytics/coco/pruned_quant-aggressive_94\
    --source "/content/loc1min.mp4" \
    --quantized-inputs \
    --image-shape 416 416 \
    --save-dir '/content/ops/' \
    --model-config '/content/coco128.yaml'\
    --device 'cp

[2022-06-06 14:30] akashAD98 commented on #415
CPU: 11th Gen Intel(R) Core(TM) i3-1115G4 @ 3.00GHz
GPU: Intel(R) UHD Graphics (iGPU)

!python annotate.py
/content/sparseml/integrations/ultralytics-yolov5/yolov5/runs/train/exp2/weights/best.onnx
--source "/content/loc1min.mp4"
--quantized-inputs
--image-shape 416 416
--save-dir '/content/ops/'
--model-config '/content/coco128.yaml'
--device 'cpu'

this command for inference & yolov5  command fo

[2022-06-07 04:35] akashAD98 opened #418 "Could not build wheels for deepsparse, which is required to install pyproject.toml-based projects"
im using windows 10 , python 3.7 & creayed new venv for this project,
so window system dosnt have support of deepsparse?
<img width="548" alt="image" src="https://user-images.githubusercontent.com/62583018/172296582-ec37cbdf-9797-4be7-81ce-6c8a02370e70.png">
<img width="662" alt="image" src="https://user-images.githubusercontent.com/62583018/172296629-92fc3c21-f0db-41ae-bef0-4a6708a87603.png">

[2022-06-07 11:09] KSGulin commented on #418
Hi @akashAD98, That's correct. The engine currently supports x86 CPUs running on Linux. You can, however, install deepsparse if you're running on a (linux-based) VM or docker from Windows

[2022-06-07 11:10] #418 closed

[2022-06-07 11:27] akashAD98 commented on #418
@KSGulin got it thanks

[2022-06-07 12:23] mgoin commented on #401
Will keep you both posted when ARM is available, thanks!

[2022-06-07 12:23] #401 closed

[2022-06-08 16:15] KSGulin commented on #415
@akashAD98 the low fps you're seeing may be a result of low computational resources offered by google colab. If you run the same annotation with a baseline model (with the command below), what fps do you see? I would recommend trying a run with the baseline and pruned model back-to-back, as I'm not certain if google colab provided resources vary over time.

[code]

For the model that's giving you

[2022-06-13 04:30] akashAD98 commented on #415
@KSGulin ok ill try this

[2022-06-17 06:53] akashAD98 commented on #415
@KSGulin  i followed this repo, & I'm able to do training of my custom moel https://github.com/dnth/yolov5-deepsparse-blogpost

[2022-06-20 14:31] vvolhejn opened #459 "CPU usage only at 50% instead of 100%"
**Describe the bug**
I installed DeepSparse on a different machine than the one causing trouble in [my last issue](https://github.com/neuralmagic/deepsparse/issues/385), but I'm running into another problem: DeepSparse is only using 50% of the CPU, namely only one of the two cores (vCPUs, rather).
This happens no matter the setting of `num_cores` in the `deepsparse.compile_model()` call. I've trie

[2022-06-20 14:42] tlrmchlsmth commented on #459
Hi @vvolhejn, the engine is detecting that your system has a single core, but two hyperthreads. We have found that using hyperthreads results in poor performance in the DeepSparse Engine (this is typical of many HPC applications!), so we cap the number of threads to the number of cores. This is expected behavior.

[2022-06-20 14:44] vvolhejn commented on #459
Thanks for the lightning-fast reply!

[2022-06-21 10:30] josephrocca opened #461 "Using DeepSparse in the browser - Web Assembly port"
Web browsers are generally very resource constrained environments, which makes them a perfect place to use an engine like DeepSparse. Web Assembly is slowly becoming more mature, with features like threads and simd becoming available in major browsers, and with more features on the way soon: https://webassembly.org/roadmap/

The ONNX runtime has recently been ported to Web Assembly: https://github

[2022-06-24 04:01] akashAD98 opened #471 "shold we need to do all epochs training? can we resume training?"
i stopped  model training at 150 epoch & trying to convert it into onnx weight, but im getting issue? so should i need to do continue training? whats the impact if we stop earlier & do resume training>

[2022-06-27 03:47] #471 closed

[2022-06-29 12:41] vvolhejn opened #485 "Inference slowed down by pruning and quantization"
Hi, I'm trying to use DeepSparse to run 1D CNNs for audio processing. I was benchmarking the performance depending on whether or not pruning (with 0.9 sparsity) and/or quantization is used, i.e. four different models. I'm using an AVX512 CPU (no VNNI).

I would expect the ordering of performance (higher is better) to be
- vanilla < quantized <= quantized+pruned
- vanilla < pruned <= quantized+prun

[2022-06-30 13:44] tlrmchlsmth commented on #485
@vvolhejn that's right on the dilated convolutions -- we don't support them for performance and have to fall back to a different implementation.

As for your original 1D CNNs: for the sparse case, deepsparse currently does better if the last axis does not have length 1. E.g. if your input were `1x1x1x64000` instead of `1x1x64000x1`. This is not ideal, so I'm working on a fix for this and can let y

[2022-06-30 19:08] mgoin commented on #461
Hi @josephrocca, we have considered porting DeepSparse to Web Assembly (WASM) but are not going to prioritize it at this time.

In the past and at the moment running with WASM like an immense scale project for us as we built our original foundation on x86 processors.
As we venture down our current path of supporting DeepSparse on ARM, it does open up a little space to consider more architecture ta

[2022-06-30 19:38] josephrocca commented on #461
Thanks for the response! Completely understand that you need to prioritise other platforms at this stage. Good luck with your ARM work, and I hope, like you said, that it helps lay a foundation for exploring Wasm in the future :)

[2022-07-04 02:21] baiziyuandyufei opened #493 "Run Dense Teacher Creation instruction Data download failed"
**Describe the bug**
Run the instruction
`sparseml.transformers.token_classification \
    --output_dir models/teacher \
    --model_name_or_path zoo:nlp/masked_language_modeling/bert-base/pytorch/huggingface/wikipedia_bookcorpus/base-none \
    --recipe zoo:nlp/masked_language_modeling/bert-base/pytorch/huggingface/wikipedia_bookcorpus/base-none?recipe_type=transfer-token_classification \
    --r

[2022-07-05 09:05] manish33scss opened #494 "Unable to install deepsparse"
trying : pip install sparseml[torchvision] deepsparse
got the following error,

![deep_error](https://user-images.githubusercontent.com/44940688/177292248-50d341ef-6ad0-4384-aa54-12f2c3aa4b55.JPG)

PS:  Used in new env as well, same error , although this command works fine in colab.
Help me out, what am i missing here ?

[2022-07-05 14:52] bfineran commented on #494
hi @manish33scss could you provide information on your operating system and CPU? It looks like you may be on Windows, if that is the case, deepsparse is currently only compiled for Linux and running in a docker container may be a preferred pathway

[2022-07-05 15:29] manish33scss commented on #494
Yes i am using windows, and will it work on jetson nano ?

[2022-07-05 16:52] bfineran commented on #494
so for windows as mentioned above using a docker container will be the best supported pathway (see https://github.com/neuralmagic/deepsparse/tree/main/docker for an example).

For jetson nano, the CPU is ARM based which deepsparse does not currently support, but this is on the near term roadmap.  SparseML could still be used however to create smaller models for deployment on edge devices such as t

[2022-07-05 18:11] #494 closed

[2022-07-07 06:02] AkoWu101 opened #497 "ModuleNotFoundError: No module named 'utils'"
**Describe the bug**
Download the yolo example to try.
https://github.com/neuralmagic/deepsparse/tree/main/examples/ultralytics-yolo

But, after run `pip3 install -r .\requirements.txt`, throw an error

[code]

**Environment**
Include all relevant environment information:
1. OS [e.g. Ubuntu 18.04]: Window 10
2. Python version [e.g. 3.7]:  3.96

[2022-07-07 12:38] I-aashishM opened #499 "Unable to startup the server for image classification"
When I run the script below, the  error occur
[code]

ValueError: unsupported task given of image_classification for serve model config task='image_classification' model_path='zoo:cv/classification/resnet_v1-50/pytorch/sparseml/imagenet/pruned-moderate' batch_size=1 alias=None kwargs={} engine='deepsparse' num_cores=None scheduler='async'
.

[2022-07-07 14:16] #497 closed, assigned to nobody

[2022-07-12 11:35] I-aashishM commented on #499
`pip3 show deepsparse`

Name: deepsparse
Version: 0.12.2
Summary: Neural network inference engine that delivers GPU-class performance for sparsified models on CPUs
Home-page: https://github.com/neuralmagic/deepsparse
Author: Neuralmagic, Inc.
Author-email: support@neuralmagic.com
License: Neural Magic Engine License, Apache
Location: {$HOME}/cpu_perf/lib/python3.6/site-packages
Requires: numpy, on

[2022-07-12 20:01] tlrmchlsmth commented on #485
Hi @vvolhejn you should see an overall performance increase on the current `deepsparse-nightly`. For batch size 1, the sparse models are quite a bit faster than before.

[2022-07-15 16:24] markurtz opened #515 "YOLOv5l model crashing on c5.12xlarge for batch size > 8"
From community slack https://discuss-neuralmagic.slack.com/archives/C020FPF3MQX/p1657890578280219:

[mt](https://app.slack.com/team/U03JVQ69Y4D)
  [8:09 AM](https://discuss-neuralmagic.slack.com/archives/C020FPF3MQX/p1657890578280219)
Hello!
I was using deepsparse on a checkpoint of a yolov5l model generated by --one-shot on a c5.12xlarge and got the following error for batch size >=8
2022-07-14 2

[2022-07-15 18:27] #485 closed

[2022-07-19 05:09] I-aashishM commented on #499
I have updated the latest deepsparse version. The output of` pip3 show deepsparse` is below:

Name: deepsparse
Version: 1.0.1
Summary: Neural network inference engine that delivers GPU-class performance for sparsified models on CPUs
Home-page: https://github.com/neuralmagic/deepsparse
Author: Neuralmagic, Inc.
Author-email: support@neuralmagic.com
License: Neural Magic Engine License, Apache
Locat

[2022-08-03 14:31] Tim-blo opened #534 "Huggingface base Wav2Vec2 model crashing"
**Describe the bug**
Hello,

I am trying to compile the onnx-converted model of a sparse Huggingface base Wav2Vec2 model (where sparsity was obtained via unstructured magnitude pruning) through compile_model :

`dse_network = compile_model(onnx_filepath, batch_size=batch_size, num_cores=1, num_streams=1)`

My kernel crashed and I received the following message:

**Environment**
Include all relevan

[2022-08-03 14:35] tlrmchlsmth commented on #534
Hi @Tim-blo, thank you for reporting your issue.

I can take a look. To help me reproduce the problem, could you share your onnx file?

[2022-08-03 15:06] Tim-blo commented on #534
Hi @tlrmchlsmth,

Thanks for the quick reply.
Here is a link to my onnx file: https://platform.oroson.co/shi/2TSpOC2KBy9wfFO1GV7gRL

[2022-08-03 17:50] tlrmchlsmth commented on #534
@Tim-blo thank you for the model! I am taking a look now.

[2022-08-04 13:05] Nilabhra opened #536 "Inference is faster with ONNX runtime"
**Bug description**
I tried training aware pruning on a custom transformer model, reaching the desired accuracy and sparsity (65% total). I then exported the model via `ModuleExporter`. When I ran the model via the DeepSparse Engine, I got a slightly higher latency compared to when I ran the same exported model via the ONNX runtime.

**Expected behavior**
The inference latency of the DeepSparse En

[2022-08-04 13:06] Nilabhra commented on #536
@mgoin asked to me use static shapes for the inputs. Reporting back soon.

[2022-08-04 13:41] Nilabhra commented on #536
Thanks to @mgoin's advice, I managed to get **1.7x** speedup on the deepsparse engine compared to the ONNX runtime **by specifying the input shapes during compilation**.

I later found that if I **omit** the `dynamic_axes` argument to the `ModuleExporter.export_onnx` function **and also specify the input shapes during compilation**, the speedup went up to **2x**

[2022-08-04 13:41] #536 closed

[2022-08-05 21:22] tlrmchlsmth commented on #534
Hi @Tim-blo, I have a fix for the issue you are running into, so this will be resolved in the next nightly that goes out, and in 1.1.0.

[2022-08-08 07:47] Tim-blo commented on #534
Thanks a lot!

[2022-08-16 13:41] divy-kala opened #579 "Deepsparse model compilation error on YOLOv7"
**Bug Description**
I am trying to sparsify and run [YOLOv7](https://github.com/WongKinYiu/yolov7) on Deepsparse. I used SparseML to sparsify the model, and was able to get a sparsity of 0.75. Exporting this sparse YOLOv7 to an onnx model and running it on OpenVino was successful so the model was created fine (albeit with only moderate performance improvements).
Running the same onnx model on Deep

[2022-08-16 14:00] tlrmchlsmth commented on #579
Hi @divy-kala, thanks for your bug report and thanks for providing the onnx file. I'll try to reproduce the issue and see if I can find a solution for you.

[2022-08-19 23:05] stqwzr opened #600 "Export yolov5s-quantized-prunning model to onnx"
I'm trying export model YOLOv5s Pruned Quantized to ONNX. ONNX version this model from model:zoo doesn't work with opencv dnn. So I tried download .pt version and export to onnx with dynamic option.

**here is command:**
`sparseml.yolov5.export_onnx --weights model.pt --dynamic --simplify --include onnx
`

**And I get this error:**
[code]

[2022-08-26 16:20] mgoin commented on #534
Hi @Tim-blo, 1.1.0 is out! We tested that your model shared above works on the nightly and release. Let us know how it works for you, thanks.

[2022-08-26 16:20] #534 closed

[2022-08-26 17:03] tlrmchlsmth commented on #579
Hi @divy-kala, we reproduced this issue and have tested that it works in 1.1.0. Please let us know if it works for you. Thanks!

[2022-08-26 17:03] #579 closed

[2022-08-30 14:59] KSGulin commented on #600
Hi @stqwzr thanks for reporting this. A fix is up at neuralmagic/yolov5/pull/96 and should land soon.

[2022-08-31 12:12] #600 closed

[2022-09-09 21:38] mgoin commented on #534
Hey @Tim-blo have you had the change to try the engine since then? We're looking at Wav2Vec models as a whole and would be interested in hearing your process on producing this model, thanks!

[2022-09-14 13:40] QuickLearner171998 opened #650 "Is deepsparse only for CPU?"
Hi

Is deepsparse useful only for optimisations on CPU?
Can I use deepsparse for memory optimizations on GPU also? If yes can you please share some tutorial for it.

Thanks

[2022-09-15 13:52] fxmarty opened #652 "ONNX Runtime benchmark does not obey `-ncores` when `-s async`"
**Describe the bug**
As in the title, setting `-ncores` with `-s async` uses more cores than set with `-ncores`.

For example, with `deepsparse.benchmark oBERT-MobileBERT_14layer_50sparse_block4_qat.onnx -e onnxruntime -ncores 8 -s async` (`num_streams=4`), we have the following usage during the multistream benchmark usage:

![image](https://user-images.githubusercontent.com/9808326/190419890-045e

[2022-09-16 11:06] d-smit opened #655 "deepsparse engine validation not working when using model instantiated batch size"
I am trying to validate my sparse-quantized transfer-learned YOLOv5-m model with the following code:

!sparseml.yolov5.val_onnx
--model_path yolov5_runs/train/exp6/weights/best.onnx
--data yolov5/data2.yaml
--imgsz 416
--batch-size 16

The model was exported after the sparse-quantized fine-tuning using:

!sparseml.yolov5.export_onnx \
    --weights yolov5_runs/train/exp6/weights/best.pt \
    --in

[2022-09-16 13:14] d-smit opened #656 "support for converting quantized onnx model to blob"
Hello, I am keen to convert my quantized trained ONNX model into a blob file. OpenVino currently does not support this which is what I've been using so far. Is there any plans to add support for this or model conversion features? It's a long shot I know but just thought I'd try. Thanks in advance :)

[2022-09-18 13:27] ErfolgreichCharismatisch opened #657 "Support for Windows 10"
**Is your feature request related to a problem? Please describe.**
Usage under windows 10.

**Describe the solution you'd like**
Support for Windows 10.

[2022-09-19 18:14] mgoin commented on #657
Hi @ErfolgreichCharismatisch while we don't support native Windows usage, you can run deepsparse in [Windows Subsystem for Linux](https://learn.microsoft.com/en-us/windows/wsl/install) or a Linux virtual machine.

[2022-09-19 18:18] mgoin commented on #656
Hi @d-smit could you share a link to what this blob file format is like? ONNX is already a binary format so is it a matter of compression for you? DeepSparse does take the ONNX and compress it down to an internal representation specific to the available hardware. Hope this is helpful

[2022-09-19 18:23] mgoin commented on #652
Hi @fxmarty, really interesting find, thanks for investigating this. Quantized MobileBERT at batch size=1 is pretty lightweight in compute so it's possible using hyperthreads might pay off in multistream benchmarking. We'll investigate this but it might be something we can control about ONNX Runtime as an external user.
Using `taskset` (or we use `numactl -C 0-7`) is your best bet for ensuring the

[2022-09-19 18:53] d-smit commented on #656
The purpose of converting to the blob is for deployment on the OAK-D camera device, as expected by the DepthAI spatial AI API used for working with OAK.

Info here: https://docs.luxonis.com/en/latest/pages/tutorials/deploying-custom-model/
Roughly following this tutorial: https://blog.roboflow.com/luxonis-oak-d-custom-model/

It has been working training YOLO models with Ultralyics, exporting to O

[2022-09-20 20:16] mgoin commented on #656
Okay, thanks for pointing us to the right docs @d-smit . It looks like that OAK-D camera device uses a custom hardware accelerator called MyriadX VPU Processor. DeepSparse focuses on running fast inference on CPUs only so it doesn't support this accelerator.
It looks like Intel makes this MyriadX VPU so it would make sense that OpenVINO is the software to use it. Not sure if we can help much with

[2022-09-25 19:08] mgoin commented on #656
Closing this issue as it seems the hardware is proprietary to Intel. Feel free to respond or reopen if you have more questions, thanks!

[2022-09-25 19:08] #656 closed

[2022-09-26 15:35] KSGulin commented on #655
Hi @d-smit, thank you for reporting this issue. This might be happening because the size of the dataset isn't an even multiple of the batch size and the last batch isn't getting dropped. [A fix to address this](https://github.com/neuralmagic/yolov5/pull/106) just landed, please let us know if your issue persists

[2022-09-28 06:43] ErfolgreichCharismatisch opened #672 "Failed building wheel for deepsparse and onnx"
**Describe the bug**
Failed building wheel for deepsparse

**Environment**
Include all relevant environment information:
1. OS [e.g. Ubuntu 18.04]: Ubuntu 18.04 via WSL on Windows 10
2. Python version [e.g. 3.7]: Python 3.6.9 (default, Jun 29 2022, 11:45:57)

**To Reproduce**
`pip install --upgrade deepsparse`

**Errors**
[code]

@mgoin @KSGulin @shubhra @Willtor @dbarbuzzi @tlrmchlsmth

[2022-09-28 13:30] corey-nm commented on #672
@ErfolgreichCharismatisch what version of setuptools do you have installed in your python environment? Can you run `pip show setuptools` or `pip list | grep setuptools` and report the output here?

[2022-09-28 19:01] ErfolgreichCharismatisch commented on #672
@corey-nm 59.6.0

[2022-09-28 19:14] corey-nm commented on #672
@ErfolgreichCharismatisch Okay that looks fine. You likely need to install or upgrade `wheel` (`pip install wheel`), or pip itself `python -m pip install --upgrade pip`.

[2022-09-28 19:46] ErfolgreichCharismatisch commented on #672
@corey-nm I upgraded setuptools, wheel and pip, did apt-get upgrade, update and dist-upgrade.

Still a similar output:

[code]

[2022-09-28 20:00] corey-nm commented on #672
@ErfolgreichCharismatisch thanks, this is useful actually. Seems like that got you past the previous deepsparse wheel and now you're onto the onnx wheel. Looking at pypi, onnx 1.12.0 doesn't build wheels for python 3.6 (https://pypi.org/project/onnx/1.12.0/#files), but onnx 1.11.0 does (https://pypi.org/project/onnx/1.11.0/#files).

Can you try running `pip install deepsparse onnx==1.11.0`?

[2022-09-28 20:25] ErfolgreichCharismatisch commented on #672
That did the trick.

[2022-09-28 20:26] corey-nm commented on #672
Okay, glad to hear. Closing this for now - let us know if you have any more questions/issues!

[2022-09-28 20:26] #672 closed

[2022-09-28 20:38] ErfolgreichCharismatisch opened #675 "Illegal instruction(core dumped)"
**Describe the bug**
Illegal instruction(core dumped) when running the sample code.

**Environment**
Include all relevant environment information:
1. OS [e.g. Ubuntu 18.04]: Ubuntu 18.04 via WSL on Windows 10
2. Python version [e.g. 3.7]: Python 3.6.9 (default, Jun 29 2022, 11:45:57)
3. DeepSparse version or commit hash [e.g. 0.1.0, `f7245c8`]: 1.1.0
5. Other Python package versions ONNX: ONNX 1.1

[2022-09-28 20:39] ErfolgreichCharismatisch commented on #672
@corey-nm I do have a new issue: https://github.com/neuralmagic/deepsparse/issues/675

[2022-09-28 23:24] rafafael03 commented on #341
Hi! Good discussion, thank you that!
And is there a place where we can check the supported layer types?

[2022-09-29 01:14] tlrmchlsmth commented on #675
Hi @ErfolgreichCharismatisch , thanks for the bug report. Could you share the output of `lscpu` so I can see what CPU you're running on?

[2022-09-29 08:40] ErfolgreichCharismatisch commented on #675
@tlrmchlsmth Sure

``
Architektur:                   x86_64
CPU Operationsmodus:           32-bit, 64-bit
Byte-Reihenfolge:              Little Endian
CPU(s):                        8
Liste der Online-CPU(s):       0-7
Thread(s) pro Kern:            2
Kern(e) pro Socket:            4
Sockel:                        1
Anbieterkennung:               GenuineIntel
Prozessorfamilie:              6
Model

[2022-09-29 13:28] ErfolgreichCharismatisch commented on #675
@ErfolgreichCharismatisch Can you make it work for everyone using the same cpu?

[2022-09-29 14:48] ErfolgreichCharismatisch opened #676 "Make it work for this CPU"
[code]

[2022-10-12 14:28] vinayak-shanawad opened #705 "Deploying DeepSparse with Amazon SageMaker"
Hi Team,

We have decided to explore Deepsparse server on SageMaker, went through this [example](https://github.com/neuralmagic/deepsparse/tree/main/examples/aws-sagemaker) and looks great.

How can we introduce custom inference script which includes pre-processing, model inference and post-processing steps?

Thanks in advance.

[2022-10-13 18:17] corey-nm commented on #705
@vinayak-shanawad Thanks for raising this issue! Can you describe your use case a bit more? What kind of task are you doing with your model, and what kind of pre/post processing are you using?

Hopefully one of our pre-built Pipelines covers your use case. You can find examples of most of them under the [examples/](https://github.com/neuralmagic/deepsparse/tree/main/examples) folder, but a high le

[2022-10-14 04:25] vinayak-shanawad commented on #705
@corey-nm Thanks for your reply.

We are looking at language tasks (text classification, question answering) where we have to preprocess the text (remove stop word, hyperlinks etc), get the inference from model and post-process the inference results then construct the response as per the client requirements.

We can achieve above requirements in SM Pytorch container by creating custom inference sc

[2022-10-17 13:47] aurelien-m commented on #494
Do you have an idea when this could be released? This could be great for embedded devices (BeagleBone AI-64 or Raspberry Pi 4 for example)! Anyways, if there's a way to get updated about this, I'll definitely be interested. Thanks :smile:

[2022-10-17 13:56] vinayak-shanawad commented on #705
@corey-nm

Good day!!

How can we address our use case? Thanks

[2022-10-17 14:27] corey-nm commented on #705
@vinayak-shanawad yes we have support for customizing pipelines, I have a [draft PR up](https://github.com/neuralmagic/deepsparse/pull/708/files) for adding an example of how to do this.

The gist of it is, you can subclass the relevant pipeline class and override the pre/post-processing methods. Here's how that might look:

[code]

Then you can use the dynamic import feature of the deepsparse ser

[2022-10-17 19:35] rsnm2 commented on #494
We are actively working on ARM for DeepSparse. We are very close to finishing server-grade ARM devices (AWS Graviton/Ampere for instance) and are then pivoting quickly to focus on embedded devices and are looking for design partners to provide input on the roadmap. Please reachout to me here or at rshaw@neuralmagic.com if interested in discussing further.

[2022-10-18 09:56] vinayak-shanawad commented on #705
@corey-nm Thanks for the details.

I think we have to place "custom_qa_pipeline.py" file in correct server location (Add a COPY line in Dockerfile for "custom_qa_pipeline.py" ) otherwise I'm getting an error when I placed it in directory contains Dockerfile and config.yaml files.

`Traceback (most recent call last):
  File "/venv/bin/deepsparse.server", line 8, in <module>
    sys.exit(main())
  F

[2022-10-18 13:45] corey-nm commented on #705
Yeah the paths will have to consider the working directory of how the docker run command is executed. I think these options should all work:

1. `COPY custom_qa_pipeline.py /custom_qa_pipeline.py` with `task: "import:/custom_qa_pipeline.py"`
2. `COPY custom_qa_pipeline.py /root/custom_qa_pipeline.py` with `task: "import:/root/custom_qa_pipeline.py"`

[2022-10-18 16:10] vinayak-shanawad commented on #705
Error details:

`INFO:     127.0.0.1:59060 - "POST /invocations HTTP/1.1" 500 Internal Server Error
ERROR:    Exception in ASGI application
Traceback (most recent call last):
  File "/venv/lib/python3.8/site-packages/uvicorn/protocols/http/h11_impl.py", line 404, in run_asgi
    result = await app(  # type: ignore[func-returns-value]
  File "/venv/lib/python3.8/site-packages/uvicorn/middleware/pro

[2022-10-18 18:32] mgoin commented on #676
Hi @ErfolgreichCharismatisch that processor doesn't meet the minimum ISA requirements the engine currently needs, namely AVX2. It seems like that generation of Intel Sandy Bridge had some processors with AVX2 and some not, with the i7-2600 on the latter side. Due to the inflexibility of base AVX, we aren't going to support it at this time. Sorry for the inconvenience.

[2022-10-18 18:32] #676 closed

[2022-10-19 17:59] corey-nm commented on #705
@vinayak-shanawad thanks I will look into this and get back to you

[2022-10-20 14:42] corey-nm commented on #705
@vinayak-shanawad yeah this is definitely related to the sequence length. Our current token classification pipeline requires the tokenizes to be padded to max length:
[code]

src: https://github.com/neuralmagic/deepsparse/blob/main/src/deepsparse/transformers/pipelines/token_classification.py#L261

If you make those changes does it work? Does your use case require non-max length padding?

[2022-10-25 04:19] vinayak-shanawad commented on #705
@corey-nm Yes, I did try overwriting the default padding and truncation strategy but I was getting above error.

`RuntimeError: NM: error: Got invalid dimensions for input: input_ids for the following indices index: 1 Got: 30 Expected: 128 Please fix either the inputs or the model.`

Yes, we require non-max length padding hence I was trying to overwrite the default tokenizer config in token_classi

[2022-10-25 14:39] corey-nm commented on #705
@vinayak-shanawad Can you speak more about non-max length padding? The deepsparse engine uses the max sequence length at model compilation time to optimize speed, and so it requires all inputs to be padded to that length. Our current pipelines handle padding to max length & then ignores all the outputs for padded inputs. Will that approach work for your use case?

[2022-10-25 15:50] vinayak-shanawad commented on #705
@corey-nm
Let's say we have three sequences in a single inference request with different sequence lengths 30, 60, 120 then we will pad the first two sequences 120 which is max length sequence. But I observed that deepsparse engine will pad all three sequences to PaddingStrategy.MAX_LENGTH.value=128 so is it possible set custom max sequence length?

[2022-10-26 18:05] corey-nm commented on #705
@vinayak-shanawad we support this through our bucketing feature, where inputs of different length are sent to different "buckets" (basically just another compiled model). e.g. if you configured 3 buckets of size 32, 64, 128, deepsparse would compile 3 separate models with difference sequence lengths, and each input would be sent to the smallest bucket it would fit in. In this case the 30 sequence

[2022-10-26 19:59] #515 closed

[2022-10-26 22:34] TejaGollapudi opened #724 "Question Answering Pipeline slower than the benchmark"
Hi,  I'm currently testing out the Question answering pipeline.

I'm using the code of below format to benchmark the QA pipeline
[code]
I get the compute times in seconds (s) as :
|MODEL_NAME |  25th percentile | 75th Percentile | 95th Percentile | 99th Percentile  | Median    |    Mean    |    Max     |   Min     |
|----------|-----------------|-----------------|-----------------|----------------

[2022-10-27 13:31] corey-nm commented on #724
Thanks for reaching out! Two things I notice:
1. deepsparse.benchmark is operating directly on pre-tokenized data (engine inputs), whereas Pipeline has to also tokenize inputs and some other pre/post processing.
2. I believe the default sequence length is 128. So deepsparse.benchmark is operating on sequence length 128 items, and you explicitly set the pipeline to use sequence length 384. This wil

[2022-10-27 16:27] tlrmchlsmth commented on #724
Hi @TejaGollapudi, thanks for sharing your issue.

There are some strange things in your `deepsparse.check_hardware` output that are confusing to us. First that the engine thinks that your system has 32 cores, whereas your processor only has 26 (see [here](https://www.intel.com/content/www/us/en/products/sku/199346/intel-xeon-gold-6230r-processor-35-75m-cache-2-10-ghz/specifications.html)) and sec

[2022-10-27 17:38] vinayak-shanawad commented on #705
Thanks @corey-nm But how can we pass the list of `sequence_length` parameter in a custom pipeline?

[2022-10-27 17:42] corey-nm commented on #705
@vinayak-shanawad yeah there are a number of ways:
1. if you are using deepsparse.server with a config file, you can set this up with bucketing config as shown here https://github.com/neuralmagic/deepsparse/blob/main/examples/aws-sagemaker/config.yaml#L10
2. If you are instantiating the pipeline object directly, you can pass `sequence_length=[32, 64, 128]` to the create() function or constructor
3

[2022-10-27 18:46] TejaGollapudi commented on #724
Thank you for the quick reply 😃.

@corey-nm
1. I've benchmarked HuggingFace Pipeline with the 'deepset/minilm-uncased-squad2' model for the same sequence length. I get a Median response time of 0.102 s.  The preprocessing and post-processing steps don't feel like an overhead here for a normal PyTorch model ( I didn't benchmark the individual steps 😅) .  Are there any differences between the Huggin

[2022-10-31 14:43] markurtz commented on #705
Hi @vinayak-shanawad, for the custom models we are currently working on an API that will allow you to apply our sparsification technologies to ONNX models without retraining. We hope to have this in an alpha-testing state within the next 2 months.

Until that is available and if the dense performance gains from DeepSparse are not enough, then our current pathway is applying before the ONNX export.

[2022-10-31 17:36] vinayak-shanawad commented on #705
Thanks @markurtz for the confirmation and that will be a very useful feature.

@corey-nm FYI: I handled the above observations in a custom pipeline, what's your thoughts on those observations?

[2022-10-31 17:57] corey-nm commented on #705
@vinayak-shanawad By default yes we just return the classification for all words in the sentence. You can use `ignore_labels=["0"]` kwargs when creating the pipeline to not include non-entities https://github.com/neuralmagic/deepsparse/blob/main/src/deepsparse/transformers/pipelines/token_classification.py#L171.

The prefixes `B-`, `I-` are from the underlying datasets. For example you can see thi

[2022-11-01 00:59] #657 closed

[2022-11-01 03:36] vinayak-shanawad commented on #705
Awesome, thanks @corey-nm

[2022-11-02 12:02] vinayak-shanawad commented on #705
Hi @corey-nm

I suspect there is a bug in `token_classification.py` default pipeline because it's not filtering default known class label = ["O"] from prediction results.

My config.yaml:

`num_cores: 1
num_workers: 1
integration: sagemaker
endpoints:
    - task: token_classification
      route: /invocations
      model: /opt/ml/model
      batch_size: 1
      ignore_labels: ["O"]`

 Snippet from

[2022-11-02 12:55] corey-nm commented on #705
@vinayak-shanawad thanks yes that does seem like a bug, I'll add that to our issue tracking.

For the yaml, you'll need to add ignore_labels under a kwargs key:
[code]
Let me know if that fixes it

[2022-11-02 17:07] corey-nm commented on #705
@vinayak-shanawad also FYI I just merged the fix into main in #742, the fix won't be in pypi until next release (1.3)

[2022-11-03 05:50] vinayak-shanawad commented on #705
Thanks @corey-nm

If I use `deepsparse-nightly[server]` then I'm geting below error.
https://github.com/neuralmagic/deepsparse/blob/430161e8db94e0898ed1dc53638319a0039bcfff/examples/aws-sagemaker/Dockerfile#L22

`ValueError: Unable to install and import deepsparse-transformers dependencies check that transformers is installed, if not, install via `pip install https://github.com/neuralmagic/transfo

[2022-11-03 13:41] corey-nm commented on #705
@vinayak-shanawad which is the error in the last snippet? is the killed message not from you cancelling the process?

[2022-11-03 17:34] vinayak-shanawad commented on #705
@corey-nm Yes, I did not kill that process and it's from server itself.

[2022-11-03 18:43] corey-nm commented on #705
@vinayak-shanawad usually if your process gets killed its using too much memory. Can you tell if that's the case? What kind of instance are you using to run?

[2022-11-05 17:40] vinayak-shanawad commented on #705
@corey-nm I did resolve it by restarting the instance to free up the memory. Thank you.

I tried the Deepsparse bucketing feature in following ways and please find the error details below.

1. Pass different sequence_length in bucketing.
[code]

[2022-11-07 14:53] corey-nm commented on #705
@vinayak-shanawad thanks looking into this bug

[2022-11-08 05:10] vinayak-shanawad commented on #705
Hi @corey-nm,

We have designed our current NER API in following way.

The API payload contains a list of one or more texts  Each text can be of arbitrary length ranging from sentences to full articles. If the text is too long, the preprocessor (we use Spacy engine) internally splits it into sentences. The NER model is then applied to each sentence in for loop, and the identified entities are mapp

[2022-11-09 04:33] vinayak-shanawad commented on #705
@corey-nm What are your thoughts on the above design and is there any way we can achieve that using DeepSparse?

[2022-11-09 14:29] rsnm2 commented on #705
@vinayak-shanawad

How long are your sequence lengths? Unless they are very very long, you probably should not be storing them in a database.

You have two options:
- Set the `sequence_length` of the pipeline to be as long as possible (for BERT - 512). Then, on the client side, if you have a sequence of length 1000, split it in half (or perhaps submit overlapping chunks) and submit them in a batch

[2022-11-09 17:19] vinayak-shanawad commented on #705
Hi @rsnm2

Yes, we have sequence lengths with more than 1000 tokens.

Would it be possible to implement this functionality in the default `TokenClassificationPipeline` like how we have it in `QuestionAnsweringPipeline`? If not, we will handle it in client side.

Thanks

[2022-11-16 23:27] TheProtaganist opened #777 "Diffusion using sparse"
Hi I am trying to run Glide text to image model on huggingface but I don't know how yet. Also does this work with stable diffusion?

[2022-11-21 18:52] rahul-tuli commented on #499
Hi @I-aashishM, We have dropped python3.6 support kindly use a version b/w 3.7 - 3.10

Kindly follow the following steps to run the server (I verified these on my end)
Assuming inside an activated virtual environment

- Install server dependencies
[code]

- Run the server
[code]

This should start a working server at `http://0.0.0.0:5543` by default

Closing this issue for now, kindly let us know

[2022-11-21 18:52] #499 closed